body {
    background-color: #121212; 
    font-family: 'Roboto', sans-serif;
}

.post_title {
    color:bisque;
    text-align: center;
}

h1 {
    color: white;
}

a {
    color: #fff;
    text-decoration:underline;
}

p {
    color: rgb(200, 200, 200);
    font-size: 18px;
}

.container {
    width: 1000px;
    margin: 0 auto;
}