{% extends 'base.html' %}
{% load static %}

{% block blog_css %}
<link rel="stylesheet" href="{% static 'auth/css/style.css' %}"> 
{% endblock blog_css %}

{% block content %} 
<h1 class="header_title">Register </h1> 
<div>
    {% if error %}
        <p>{{error}}</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
       <label>Email: </label> 
       <input type="input" name="email">

       <label>Username: </label> 
       <input type="input"  name="username">

       <label>Password: </label> 
       <input type="password" value="123456789" name="password">
       
       <label>Re-Password: </label> 
       <input type="password" value="123456789" name="repassword">

        <button type="submit">Submit</button>
    </form>

</div>
{% endblock %}    



